/* EditForm.css */

.edit-form-container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .edit-heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .submit-button {
    background: #4d4b4b;
    color: #fff;
    padding: 12px 20px;
    width: 70%;
    border: none;
    display: block;
    margin: 0.8rem auto;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    box-shadow: 3px 3px 5px 2px rgba(31, 30, 30, 0.8);
  }
  
  .submit-button:hover {
    background-color: #413d3d;
  }

  .full_div{
    display: flex;
    gap: 2rem;

  }
