/* Login.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

/* Container styles */
.login-container {
  max-width: 400px;
  /* margin: auto; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1; /* Light gray background */
}

/* Title styles */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Form styles */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Label styles */
label {
  margin-bottom: 5px;
  color: #666;
}

/* Input styles */
.input-container {
  position: relative;
  margin-bottom: 10px; /* Adjust spacing between input containers */
}

.input-container input {
  padding: 8px 30px 8px 10px; /* Adjust padding to accommodate icons */
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
}


/* Forgot password link styles */
.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #8c3121;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: #e88a73;
}

/* Button styles */
.button-container {
  display: flex;
  justify-content: space-between;
}

.main-log{

  display: flex;
  justify-content: center;
  gap: 1rem;
 
}