/* Register.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
 
}

/* Container styles */
.registration-container {
  max-width: 400px;
  /* margin: auto; */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1; /* Light gray background */
}

/* Title styles */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* Form styles */
.registration-form {
  display: flex;
  flex-direction: column;
}

/* Label styles */
label {
  margin-bottom: 5px;
  color: #666;
  display: flex;
  align-items: center; /* Align label text and icon horizontally */
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: space-between;
}

/* Button styles */
.signUp-btn {
  padding: 10px 60px;
  background: #333; /* Green color */
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.signUp-btn:hover {
  background-color: #534d4d; /* Darker green color on hover */
}

/* Back button styles */
.back {
  padding: 0.5rem 1rem;
  margin: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.back:hover {
  background-color: #534d4d;
}

.login-btn{
  padding: 10px 60px;
  background: #aca9a9; /* Green color */
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;

}
.login-btn:hover{
 
  background: #565555; /* Green color */
 
}

input{
  margin-top:0.4rem ;
  
}

.button-container{
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem;
}

.main-reg{
  display:flex ;
  justify-content: center;
  gap: 1rem;
}

/* .reg_img{
  width: 50%;

 
} */

